
# frontend dependencies
/frontend/momentos-pasteleria/node_modules
/frontend/momentos-pasteleria/package-lock.json

# frontend config files
/frontend/momentos-pasteleria/jsconfig.json
/frontend/momentos-pasteleria/.next

#backend dependencies
/backend/.venv
__pycache__

#other
backend_logic.txt
/backend/.notes.txt
/backend/app/migrations
/backend/app/mp.log